.select {
  display: flex;
  gap: 5px;
  cursor: pointer;
  position: relative;
}

.value {
  color: #e57106;
  text-decoration: underline;
}

.field {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #e7e4e4;
}

.list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.item {
  width: 100%;
  list-style: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #e57106;
  }
}