.button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.main {
  background-color: #e57106;

  &:hover {
    background-color: #d36100;
  }
}

.filter {
  background-color: #e7e4e4;
  color: #000000;

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
}

.active {
  background-color: #000000;
  color: #ffffff;
}